.signin-esqueci-login-ficha{
    display: flex;
    margin-top: 40px;
    margin-left: 13.3%;
}

.signin-esqueci-login-ficha a{
    color: var(--color-login-signup);
    text-decoration:none;
    float: right;
    margin-right: 20%;
}

.signin-esqueci-login-ficha p{
    flex: 1;
    color: var(--color-zero);
}