.icons-login-ficha{
    margin-top: 10px;
}

.facebook{
    margin-left: 70px;
    cursor: pointer;
}

.twitter{
    margin-left: 70px;
    cursor: pointer;
}

.gplus{
    margin-left: 70px;
    cursor: pointer;
}

