.signup-login-ficha{
    display: flex;
    margin-top: 40px;
    margin-left: 13.8%;
}

.signup-login-ficha a{
    color: var(--color-login-signup);
    text-decoration:none;
    float: right;
    margin-right: 12%;
}

.signup-login-ficha p{
    flex: 1;
    color: var(--color-zero);
}

