.esqueci-login-ficha a{
    position: relative;
    top: 7px;
    font-size: var(--font-small);
    color: var(--color-zero);
    text-decoration:none;
}

.esqueci-login-ficha #esqueci-login{
    margin-left: 12%;
    
}

.esqueci-login-ficha #esqueci-senha{
    margin-left: 14%;
}
